
h1{
color:violet;
}
h2{
color:violet;
}
h3{
color:violet;
}
h4{
color:violet;
}
li1{
color:pink;
}
li2{
color:rgb(98,57,95);
}
li3{
color:rgb(255,255,255);
}
li4{
color:rgb(46,108,28);
}
li5{
color:yellow;
}

p1{
color:pink;
}
p2{
color:pink;
}
p3{
color:pink;
}
p4{
color:pink;
}
p5{
color:pink;
}
body{
background-color:black;
}
table{
color:green;
}